/*TAG ELEMENTS*/
body {
  color: #40514E;
  font-size: 16px;
  margin: 0;
  text-align: center;
  /*everything inside the body will be centralized*/
  font-family: Georgia, Times, "Times New Roman", serif;
  /*this is a stack of fonts, which are going to be displayed in this order from left to right, depending whether there are preinstalled at users computer system*/
}

/*if an block element like H1 has a WIDTH set then text-align is not working. you must use MARGIN: 0 auto 0 auto*/
h1 {
  margin: 50px auto 0 auto;
  padding-top: 200px;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 30px auto 30px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
font-size:  1rem;

}

a {
  color: white;
  text-decoration: none;
}

hr {
  border-width: 8px 0 0 0;
  border-style: dotted;
  width: 10%;
  border-color: #EAF6F6;
  margin: 100px auto 100px auto;
}

button {
  margin: 100px auto 100px auto;
}

/*CLASS ELEMENTS*/
.profile-picture {

}

.mountain {
  margin: 150px auto 10px auto;
  position: relative;
  bottom: 200px;
}

.top-cloud {
  position: absolute;
  /*we can set the margins of an element in relation to the body*/
  top: 100px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.narrow-paragraph{
  width: 50%;
  margin: 16px auto 16px auto;
}

/*Challenge Positioning DIV elements CSS*/
.top-container {
  background-color: #EAF6F6;
  padding: 15px;
  padding-top: 100px;
  position: relative;
  height: 100vh;
}

.middle-container {
  text-align: center;
  position: relative;
  padding: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #11999E;
  padding-top: 50px;
  padding-bottom: 20px;
}

.thickUnderlined {
  font-weight: bold;
  text-decoration: underline;
}

.profile-picture {
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-text {
  text-align: left;
}

.tags-picture {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.excel-picture {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.signature {
  color: #EAF6F6;
  margin-top: 50px;
}

.footer-link {
  color: #11999E;
  margin-right: 50px;
  font-size: 1rem;
}
.footer-link:hover{
color: #EAF6F6;
}

.kontakt {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  background-color: #11999E;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.kontakt:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
