/*TAG ELEMENTS*/
body {
  margin: 0;
  text-align: center;/*everything inside the body will be centralized*/
  font-family: Georgia,Times,"Times New Roman",serif;/*this is a stack of fonts, which are going to be displayed in this order from left to right, depending whether there are preinstalled at users computer system*/
}
/*if an block element like H1 has a WIDTH set then text-align is not working. you must use MARGIN: 0 auto 0 auto*/
h1 {
  margin-top: 0;
  font-family: 'Permanent Marker', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
}
/*CLASS ELEMENTS*/

.top-cloud {
  position: absolute;/*we can set the margins of an element in relation to the body*/
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

/*Challenge Positioning DIV elements CSS*/
.red {
  background-color: red;
  height: 100px;
  width: 100px;
  /* display: inline-block;
  position: relative;
  left: 200px;*/
  position: absolute;/*we can set the margins of an element in relation to the body*/
  top: 10px;/*10 pixels from the top of the body*/
  right: 10px;
}

.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  /*RELATIVE Positioning
  display: inline-block;
  position: relative;
  right: 100px;*/
  /*ABSOLUTE POSITIONING*/
}

.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
  /*display: inline-block;
  position: relative;
  right: 100px;*/
  display: inline-block;/*combination of block element - you can change the size of it and inline element - there are more elements in the same line*/
}



.top-container {
  background-color: #84a9ac;
  padding: 15px;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: #fee2b3;
  height: 300px;
}

.bottom-container {
  background-color: #fee2b3;
  height: 200px;
}

.thickUnderlined {
  font-weight: bold;
  text-decoration: underline;
}
